<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div id="reg_des">
        <div id="reg_text">
            <h1>Social</h1>
            <p>I'm new to Social</p>
            <p>Go to Register page</p>
            <button>Register</button>
        </div>
    </div>
    <div id="log_side">
        <div id="log_text">
            <h2>Sign in</h2>
            <form action="" method="post">
                <label for="email">E-mail</label>
                <br>
                <input type="email" name="" id="email_login" placeholder="Enter your e-mail here">
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" name="" id="password_login" placeholder="Enter Password here">
                <br><br>
                <button type="submit" id="signinbtn">Sign in</button>
                </form>
        </div>
    </div>
</body>
</html>
